RANCHER_PROD_URL = "{{ rancher_prod_url }}"

RANCHER_PROD_ENV = "{{ rancher_prod_env }}"
RANCHER_PROD_ACCESS_KEY = "{{ rancher_prod_access_key }}"
RANCHER_PROD_SECRET_KEY = "{{ rancher_prod_secret_key }}"

RANCHER_PREPROD_ENV = "{{ rancher_preprod_env }}"
RANCHER_PREPROD_ACCESS_KEY = "{{ rancher_preprod_access_key }}"
RANCHER_PREPROD_SECRET_KEY = "{{ rancher_preprod_secret_key }}"